@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary_color: #C0C0C0;
    --secondary_color: #000;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato';
    color: #000;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

h1{
    font-weight: 300;
    line-height:1.2;
    margin:10px 0;
}

h2{
    font-style: oblique;
}

p{
    margin: 10px 0;
}

img{
    width:100%;
    margin:0px;
    padding:0px;
}

/*NAVBAR*/
.navbar{
    height:100px;
    background-color: #C0C0C0;
}

.navbar h1{
    font-weight:lighter;
    font-style: normal;
    font-family: serif;
}

.navbar ul{
    display: flex;
    color:#fff;
    font-family:Verdana;
}

.navbar a{
    color: #000; /* home navbar*/
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;/*remove the underline*/
}
a:focus,a:hover{
    border-bottom: 1px solid;
    background: #fff;
  }
.navbar .flex{
    justify-content: space-between;
}

/*SHOWCASE*/
.showcase{
    height:500px;
    background-color:#fff;
}

.showcase-about{
    display:inline-block;
}

.showcase h1{
    font-size: 40px;
    display: flex;
}

img.intro{
    width:250px;
    height:250px;
    float:left;
    margin-left:100px;
    border-radius:50%;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    gap:30px;
}

.showcase-about h2{
    font-size:70px;
    margin-top: 30px;
    font-family: 'Tangerine',cursive;
    color:#9e4244;
    text-align:center;
    font-style: normal;
}

.showcase-about p{
    font-size:22px;
    font-style: normal;
    font-weight:normal;
    text-align:left;
    margin-right: 100px;
    margin-left:500px;
    font-family:serif;
    margin-bottom: 50px;
}

.showcase-project h2{
    font-size:70px;
    margin-top: 30px;
    font-family: 'Tangerine',cursive;
    color:#9e4244;
    text-align:center;
    font-style: normal;
}

.showcase-project p{
    font-size:22px;
    font-style: normal;
    font-weight:normal;
    text-align:center;
    margin-right: 100px;
    margin-left:100px;
    font-family:serif;
    margin-bottom: 50px;
}

.text-primary
{
    color:#fc9483
}

.top-skill h2{
    font-size:50px;
    margin-top: 30px;
    font-family: 'Lato';
    color:#9e4244;
    text-align:center;
    font-style: normal;
} 

.boxes{
    display: inline-block;
    background-color:#C0C0C0;
}

.box1{
    display:inline-block;
    margin-top: 20px;
    margin-left: 100px;
    margin-right:100px;
    margin-bottom: 20px;
    padding:48px;
    width: 500px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    background:#fff;
    border-radius: 10px;
}

.feature img{
    margin-top:20px;
    width:60px;
    height:60px;
}
.project1{
    width:100%;
    height:auto;
    background:#000;
}

.content{
    width:50%;
    margin-left: 25%;
    padding-bottom: 30px;
}

.project_img{
    margin-left: 50px;
    width: 80%;
    height: auto;
    padding: 30px 0 0 0;
}

.head {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 0;
}

.project1 h2{
    font-size:50px;
    color:#fff;
    font-family: sans-serif;
}

.project1 h3{
    font-weight: bold;
    font-size: 20px;
    color:#fff;
    padding: 0;
    text-align:center;
    margin-top: 50px;
}

.p3{
    text-align:center;
    font-size: 18px;
    color:#fff;
}
.project2{
    width:100%;
    height:auto;
    background:#f8c687;
}
.project2 h2{
    font-size:50px;
    color:#fff;
    font-family: sans-serif;
}

.project2 h3{
    font-weight: bold;
    font-size: 20px;
    color:#fff;
    padding: 0;
    text-align:center;
    margin-top: 50px;
}
.mainbtn {
    margin-left: 280px;
    color: #fff;
    background: #4299ed;
    border-radius: 30px;
    padding: 16px 36px;
    text-align: center;
    letter-spacing: 0.5px;
    text-decoration: none;
    line-height: 26px;
    font-size: 18px;
}

.showcase-form{
    margin-left:50px;
    margin-right:50px;
    text-align: center;
    position: position;
    top: 60px;
    height:250px;
    width:400px;
    padding:40 px;
    z-index: 100;
    justify-self:flex-end;
}

.showcase-form .form-control{
    margin:10px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email']{
    border: 0px;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    font-size: 16px;
    padding: 3px;
}

.showcase-form input[type='textarea']{
width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}

.showcase-form input:focus{
    outline:none;
}
/*FOOTER*/

.bg-dark{
    background: #333;
    color: #fff;
    padding:20px;
}

.bg-dark p{
    text-align: center;
}

p {
    margin: 0 0 10px;
}

/*Background image*/
.hero-image {
    background-image: url("images/pexels-lumn-399161.jpg");
    background-color: #fff;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    font-family: serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9e4244;
  }

.hero-text a{
    font-family: monospace;
    font-size:20px;
    text-decoration: none;
    color: #fc9483;
}

/*UTILITIES -> classes we are going to use throughout the website*/
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card{
    margin-top: 40px;
    background-color: #fff;
    color:#333;
    border-radius: 10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin-left:  500px;
    margin-bottom: 40px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color:#000;
    color:#fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-outline{
    background-color:transparent;
    border: 1px #fff;
}

.btn-hover{
    transform:scale(0.98);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    justify-content: center;
    align-items: center;
    height:100%;
}
